#searchBar input {
  border: 1px solid black;
  outline: none;
}
#searchBar button {
  border: 1px solid black;
  background-color: white;
  transition: background-color 0.1s ease;
}
#searchBar button:hover {
  background-color: rgb(214, 214, 214);
}
ul {
  list-style: none;
  padding: 0px;
}
ul p {
  padding: 5px;
}
#tagContainer li{
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: slategrey;
  color: white;
  padding: 5px;
  transition: background-color 0.2s ease;
}
#tagContainer li:hover{
  background-color: rgb(69, 113, 157);
  cursor: pointer;
}
#portfolio {
  min-height: 75vh;
}
