<div class="mb-4 portfolioItem">
  <a [routerLink]="['/Project/', projectData?.id]">
    <figure class="containerForFloatingText">
      <img src="{{ projectData?.img }}" alt="Test" />
      <div class="floatingText px-3 pb-3 pt-0 d-flex flex-column justify-content-center">
        <figcaption class="font-1_2rem">{{ projectData?.title }}</figcaption>
        <p class="lightgreyText shortDescription font-1rem">{{projectData?.shortdescription}}</p>
        <div class="d-flex flex-wrap align-items-center">
          <p class="mt-0 font-0_8rem">Tags:</p>
          <ul class="d-flex ps-0 flex-wrap">
            <li class="ms-2 lightgreyText font-0_7rem" *ngFor="let technology of projectData?.technologies">
              {{ technology }},
            </li>
          </ul>
        </div>
      </div>
    </figure>
  </a>
</div>
