* {
  color: white;
}
img {
  max-width: 100%;
  transition: max-width 0.2s ease;
}
p {
  margin-bottom: 0px;
}
.containerForFloatingText {
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
  position: relative;
  background-color: white;
  max-height: 300px;
  min-height: 300px;
}
.lightgreyText {
  color: rgb(184, 184, 184);
}
.shortDescription {
  font-size: 0.9rem;
}
.floatingText {
  background-color: rgba(1, 1, 1, 0.8);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: black;
  padding: 10px;
  transition: 0.2s ease;
  transform: translate(0%, 100%);
  border: 3px ridge var(--main-yellow);
  border-radius: 5px;
}
.portfolioItem:hover > a > figure.containerForFloatingText > img {
  max-width: 103%;
}
.portfolioItem:hover > a > figure > .floatingText {
  transform: translate(0%);
}
@media only screen and (max-width:768px) {
  .containerForFloatingText {
    max-height: 250px;
    min-height: 250px;
  }

}
@media only screen and (max-width:468px) {
  .containerForFloatingText {
    align-items: center;
  }

}
