<footer class="d-flex flex-column align-items-center primary-bg pb-4">
  <figure class="mt-5">
    <img src="../../../../assets/images/default-placeholder.png" alt="Logo" />
  </figure>
  <div id="socialMediaLinkBar">
    <p>SocialMedia</p>
    <div class="d-flex flex-row justify-content-center">
      <a href="#">
        <figure>
          <img src="../../../../assets/images/github.svg" alt="Github" />
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="../../../../assets/images/linkedin.svg" alt="LinkedIn" />
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="../../../../assets/images/envelope-solid.svg" alt="Mail" />
        </figure>
      </a>
    </div>
  </div>
  <p class="text-center">Nico Viljanen © 2022</p>
  <div class="d-flex flex-row text-center align-items-center">
    <p>Made using</p>
    <figure class="mb-0 ms-1">
      <img
        class="iconImage"
        src="../../../../assets/images/angular.svg"
        alt="Angular"
      />
    </figure>
    <p class="ms-1">And</p>
    <figure class="mb-0 ms-1">
      <img
        class="iconImage"
        src="../../../../assets/images/bootstrap.svg"
        alt="Bootsrap"
      />
    </figure>
  </div>
</footer>
