<footer class="d-flex flex-column align-items-center pb-4 pt-4 container">
  <div id="socialMediaLinkBar">
    <p>Github</p>
    <div class="d-flex flex-row justify-content-center">
      <a [href]="['https://github.com/Ico-code']">
        <figure>
          <img src="assets/images/logos/github.svg" alt="Github" />
        </figure>
      </a>
    </div>
  </div>
  <p class="text-center">Nico Viljanen © 2022</p>
  <div class="d-flex flex-row text-center align-items-center">
    <p>Made using</p>
    <figure class="mb-0 ms-1">
      <img
        class="iconImage"
        src="assets/images/logos/Angular_full_color_logo.svg"
        alt="Angular"
      />
    </figure>
    <p class="ms-1">And</p>
    <figure class="mb-0 ms-1">
      <img
        class="iconImage"
        src="assets/images/logos/Bootstrap_logo.svg"
        alt="Bootstrap"
      />
    </figure>
  </div>
</footer>
