#socialMediaLinkBar {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas:
    "text text text"
    "icon icon icon";
  justify-content: center;
}
#socialMediaLinkBar p {
  grid-area: text;
  font-size: 1.5rem;
}
#socialMediaLinkBar div {
  grid-area: icon;
}
#socialMediaLinkBar div figure {
  border: 1px solid black;
  background-color: rgb(132, 92, 253);
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px;
  width: 40px;
  height: 44px;
  transition: 0.2s ease background-color;
  cursor: pointer;
}
#socialMediaLinkBar div figure:hover {
  background-color: white;
}
p {
  margin-bottom: 0px;
  text-align: center;
}
img {
  max-width: 100%;
}
figure {
  max-width: 100px;
}
.iconImage {
  width: 30px;
}
.primary-bg {
  background-color: rgb(145, 67, 255);
}
