<form action="#" class="d-flex flex-column container">
  <ul class="row">
    <li class="inputContainer col-md-6">
      <input type="text" id="Name" name="Name" placeholder="Name" />
      <label for="Name">Name</label>
    </li>
    <li class="inputContainer col-md-6">
      <input type="text" id="Email" name="Email" placeholder="Email" />
      <label for="Email">Email</label>
    </li>
    <li class="inputContainer col-md-12">
      <input type="text" id="Topic" name="Topic" placeholder="Topic" />
      <label for="Topic">Topic</label>
    </li>
    <li class="inputContainer col-md-12">
      <textarea name="Content" id="Content" cols="30" rows="10" placeholder="Content"></textarea>
      <label for="Content">Content</label>
    </li>
  </ul>
</form>
