<form
  action="#"
  class="d-flex flex-column container position-relative"
  [formGroup]="contactMeForm"
>
  <ul class="row justify-content-center align-items-center">
    <li class="inputContainer">
      <label for="Name">Name</label>
      <input
        type="text"
        id="Name"
        formControlName="Name"
        placeholder="Name*"
        (focus)="selected($event)"
        (focusout)="notSelected($event)"
      />
      <div [ngClass]="isThisElementSelected('Name')"></div>
      <div
        *ngIf="Name?.invalid && Name?.touched"
        class="d-flex bg-danger text-white p-2 my-1 errorMsg"
      >
        <fa-icon [icon]="faSquareXmark"></fa-icon>
        <p class="ms-1 mb-0">Name is required</p>
      </div>
    </li>
    <li class="inputContainer">
      <label for="Email">Email</label>
      <input
        type="text"
        id="Email"
        formControlName="Email"
        placeholder="Email*"
        (focus)="selected($event)"
        (focusout)="notSelected($event)"
      />
      <div [ngClass]="isThisElementSelected('Email')"></div>
      <div
        *ngIf="Email?.invalid && Email?.touched"
        class="d-flex bg-danger text-white p-2 my-1 errorMsg"
      >
        <fa-icon [icon]="faSquareXmark"></fa-icon>
        <p class="ms-1 mb-0">Email is required</p>
      </div>
      <div
        *ngIf="(Email?.invalid && Email?.touched) || (Email?.errors?.['email'] && Email?.touched)"
        class="d-flex bg-danger text-white p-2 my-1 errorMsg"
      >
        <fa-icon [icon]="faSquareXmark"></fa-icon>
        <p class="ms-1 mb-0">Email is not in the right format</p>
      </div>
    </li>
    <li class="inputContainer">
      <label for="Topic">Topic</label>
      <input
        type="text"
        id="Topic"
        formControlName="Topic"
        placeholder="Topic*"
        (focus)="selected($event)"
        (focusout)="notSelected($event)"
      />
      <div [ngClass]="isThisElementSelected('Topic')"></div>
      <div
        *ngIf="Topic?.invalid && Topic?.touched"
        class="d-flex bg-danger text-white p-2 my-1 errorMsg"
      >
        <fa-icon [icon]="faSquareXmark"></fa-icon>
        <p class="ms-1 mb-0">Topic is required</p>
      </div>
    </li>
    <li class="inputContainer">
      <p class="mb-0 infoText">
        Content field has to have at least {{ minLength }} characters, but not
        more than {{ maxLength }}*
      </p>
      <label for="Content">Content</label>
      <textarea
        formControlName="Content"
        id="Content"
        cols="30"
        rows="10"
        placeholder="Content*"
        (focus)="selected($event)"
        (focusout)="notSelected($event)"
      ></textarea>
      <div [ngClass]="isThisElementSelected('Content')"></div>
      <div
        *ngIf="((Content?.invalid && Content?.errors?.['maxlength'] == undefined) && Content?.touched) || Content?.errors?.['minlength']"
        class="d-flex bg-danger text-white p-2 my-1 errorMsg"
      >
        <fa-icon [icon]="faSquareXmark"></fa-icon>
        <p class="ms-1 mb-0">
          The message has to be at least {{ minLength }} characters long
        </p>
      </div>
      <div
        *ngIf="Content?.invalid && Content?.errors?.['maxlength']"
        class="d-flex bg-danger text-white p-2 my-1 errorMsg"
      >
        <fa-icon [icon]="faSquareXmark"></fa-icon>
        <p class="ms-1 mb-0">
          The message has to be shorter than {{ maxLength }} characters
        </p>
      </div>
    </li>
    <li>
      <button
        id="submitButton"
        [ngClass]="contactMeForm.invalid ? 'submitDisabled' : 'submitAble'"
        type="submit"
        [disabled]="contactMeForm.invalid"
        (click)="sendMessage()"
      >
        Send message
      </button>
    </li>
    <li><div id="sentIndicator" *ngIf="formSent">Message has been sent</div></li>
  </ul>
</form>
<!-- <div id="sentIndicator">There was an error trying to send your message, please try again later.</div> -->
