<form action="#" class="d-flex flex-column container">
  <ul class="row">
    <li class="inputContainer col-md-6">
      <input type="text" id="Name" name="Name" placeholder="Name" (focus)="selected($event)" (focusout)="notSelected($event)"/>
      <div [ngClass]="isThisElementSelected('Name')"></div>
      <label for="Name" [ngStyle]="{'font-size' : '0px'}">Name</label>
    </li>
    <li class="inputContainer col-md-6">
      <input type="text" id="Email" name="Email" placeholder="Email" (focus)="selected($event)" (focusout)="notSelected($event)"/>
      <div [ngClass]="isThisElementSelected('Email')"></div>
      <label for="Email" [ngStyle]="{'font-size' : '0px'}">Email</label>
    </li>
    <li class="inputContainer col-md-12">
      <input type="text" id="Topic" name="Topic" placeholder="Topic" (focus)="selected($event)" (focusout)="notSelected($event)"/>
      <div [ngClass]="isThisElementSelected('Topic')"></div>
      <label for="Topic" [ngStyle]="{'font-size' : '0px'}">Topic</label>
    </li>
    <li class="inputContainer col-md-12">
      <textarea name="Content" id="Content" cols="30" rows="10" placeholder="Content" (focus)="selected($event)" (focusout)="notSelected($event)"></textarea>
      <div [ngClass]="isThisElementSelected('Content')"></div>
      <label for="Content" style="font-size : 0px">Content</label>
    </li>
    <li>
      <button id="submitButton" type="submit">Send message</button>
    </li>
  </ul>
</form>
