input,
textarea {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
}
textarea {
  vertical-align: top;
}
label {
  font-size: 0px;
}
.inputContainer {
  margin-bottom: 10px;
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 0px;
}
.blueSelected {
  border: 0;
  height: 4px;
  color: rgb(0, 187, 255);
  transition: 0.2s width ease;
  padding: 1px;
  background-color: rgb(0, 187, 255);
  margin-top: 0px;
  transition: max-width 0.2s ease;
}
.selected {
  max-width: 100%;
}
.unselected {
  max-width: 10%;
}
form {
  padding: 0px;
}
#submitButton {
  max-width: 150px;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 400;
  transition: 0.2s ease;
  border: none;
  max-width: fit-content;
}
.submitDisabled {
  background-color: rgb(4, 126, 170);
  color: gray;
}
.submitAble {
  background-color: rgb(0, 187, 255);
  color: white;
}
.submitAble:hover {
  background-color: rgb(4, 160, 216);
  color: rgb(255, 204, 0);
}
#sentIndicator {
  position: absolute;
  color: white;
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 0px 4px 1px black;
  display: none;
}
.infoText {
  margin-left: 5px;
  color: rgb(238, 238, 238);
  font-size: 0.75rem;
}
.errorMsg {
  border-radius: 10px;
}
