input, textarea {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
}
.inputContainer {
  margin-bottom: 10px;

}
ul {
  list-style: none;
  padding: 0px;
}
label {
  border: 0;
  height: 4px;
  color: rgb(0, 187, 255);
  transition: 0.2s width ease;
  overflow: hidden;
  padding: 0;
  max-width: 100%;
  background-color: rgb(0, 187, 255);
}
form {
  padding: 0px;
}
#submitButton {
  max-width: 150px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  background-color: rgb(0, 187, 255);;
  color: white;
  transition: 0.2s ease;
  border: none;
  max-width: fit-content;
}
#submitButton:hover {
  background-color: rgb(4, 160, 216);
  color: rgb(255, 204, 0);
}
