<section id="AboutMe" class="bg-purple">
    <div class="contentContainer py-5">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center mb-4">
          <h2 class="d-block text-white">About Me</h2>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
            iusto sequi. Porro exercitationem dolorem nisi impedit tempore quod,
            repellendus esse, praesentium consequuntur accusantium ipsa quo quia
            enim adipisci? Sit dicta tenetur saepe vero necessitatibus nesciunt
            alias magnam nemo eius nam earum quod, velit ut voluptate. Dolor
            tempore quasi eaque praesentium?
          </p>
          <a href="/About" class="learnMoreButton p-2 text-white">Learn more</a>
        </div>
        <div
          class="col-md-6 d-flex flex-column justify-content-center align-items-center"
        >
          <figure>
            <img
              src="../../../../assets/images/default-placeholder.png"
              alt="idk"
            />
          </figure>
        </div>
      </div>
  </div>
</section>
<div>
  <section id="Portfolio" class="p-4 bg-blue">
    <div class="contentContainer">
      <h2 class="text-white">Portfolio</h2>
      <p class="text-white">
        This part of the page includes some of my favorite projects, from my
        portfolio.
      </p>
      <a href="/About" class="learnMoreButton p-2 text-white">Learn more</a>
      <app-portfolio-list></app-portfolio-list>
    </div>
  </section>
  <section id="ContactForm" class="p-4 bg-purple">
    <div class="contentContainer">
      <h2 class="text-white">Contact me</h2>
      <p class="text-white">
        You can use the following form to contact me via email.
      </p>
      <app-contact-form></app-contact-form>
    </div>
  </section>
</div>
