#AboutMe {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 0px;
}
section#AboutMe div.background-shade {
  max-width: 100%;
  padding: 35px 10px;
  min-height: inherit;
}
section#AboutMe div.background-shade div.container div {
  min-height: inherit;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  max-height: 550px;
}
img {
  max-width: 100%;
}
.learnMoreButton {
  max-width: fit-content;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s ease;
  background-color: rgb(0, 187, 255);;
}
.learnMoreButton:hover {
  background-color: rgb(4, 160, 216);;
}
