#AboutMe {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 0px;
}
section#AboutMe div.background-shade {
  max-width: 100%;
  padding: 35px 10px;
  min-height: inherit;
}
section#AboutMe div.background-shade div.container div {
  min-height: inherit;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  max-height: 550px;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px black;
}
img {
  max-width: 100%;
}
.learnMoreButton {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: fit-content;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s ease;
  color: white;
}

.learnMoreButton-secondary-color:hover {
  background-color: var(--main-yellow-dark);
}

.learnMoreButton-main-color {
  background-color: var(--main-dark);
}

.learnMoreButton-secondary-color {
  background-color: var(--main-yellow);
}

.learnMoreButton-main-color:hover {
  background-color: var(--main-dark-dark);
}

button{
  border: none;
  box-shadow: 0px 0px 1px 0px black;
}
