ul {
  list-style: none;
  padding: 0px;
}
a {
  text-decoration: none;
  color: white;
  transition: color 0.15s ease;
}
a:hover {
  color: rgb(255, 204, 0);
  font-weight: 400;
}
img {
  max-width: 100%;
  transition: 0.2s ease;
}
#logo {
  max-width: 75px;
  min-width: 75px;
  max-height: 75px;
  overflow: hidden;
}
li a {
  font-size: 1.2em;
}
#sideNavContainer {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  z-index: 100000;
  border-radius: 100px;
}
.hoverWhite:hover {
  background-color: white;
}
#sideNavContainer fa-icon{
  font-size: 2em;
}
#sideNavContainer:hover{
  background-color: white;
}
#sideNav {
  position: absolute;
  top: 0px;
  bottom: 0px;
  transition: 0.2s ease;
  background-image: linear-gradient(250deg, rgb(102, 0, 255) 65%, white 25%);
  z-index: 10;
  height: 100vh;
  overflow: overlay;
}
#sideNav > li{
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  width: 100%;
  transition: 0.2s ease;
  text-align: center;
}
#sideNav > li:hover, #sideNav > li:hover a, #sideNav li a:hover{
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  background-color: rgb(145, 67, 255);
}
