img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.imagePreview {
  max-width: 70px;
  padding: 10px;
  padding-left: 0px;
}
.icon {
  max-width: 4em;
  min-width: 4em;
}
#imageContainer {
  max-height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: white;
}
