<article class="primary-bg">
  <section class="p-4 container">
    <div class="row mb-4">
      <div class="col-7">
        <h1 class="col-12">Title</h1>
        <div class="border border-primary row">
          <p class="col-4">Website Link</p>
          <p class="col-4">Links</p>
          <p class="col-4">Github</p>
        </div>
        <div class="border border-primary p-2 row">Date</div>
        <div id="tagContainer" class="border border-primary p-2 row">Technologies</div>
      </div>

      <div class="col-md-5">
        <figure class="mb-0">
          <img
            src="../../../../assets/images/default-placeholder.png"
            alt="Project image"
          />
        </figure>
        <ul id="previewContainer" class="d-flex flex-row">
          <li>
            <figure class="imagePreview">
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="imagePreview">
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="imagePreview">
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="imagePreview">
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="imagePreview">
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="imagePreview">
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt=""
              />
            </figure>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p>Description</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas soluta quam
        voluptatum nesciunt, perferendis quia omnis ad enim distinctio, non itaque
        dolorum porro placeat. Facere sunt tempore, ratione aut obcaecati
        accusamus deleniti vero ut, possimus harum omnis quas officia voluptatem
        maxime saepe, voluptas asperiores exercitationem soluta inventore numquam
        sed non! Sapiente saepe qui, aliquid, dolorem vero, magnam molestiae
        officia adipisci minima architecto deleniti nihil dolore. Omnis aspernatur
        dolorum error obcaecati officiis corporis ducimus incidunt odit magnam
        blanditiis, provident, voluptatum deserunt animi accusantium ipsa ipsam
        veritatis ex quisquam. Veniam vitae aliquid, odit dolorem officiis eum
        dolorum modi. Nobis odit qui facilis corporis commodi ipsum magnam
        accusamus ad quasi fugit! Sapiente similique nulla fugit doloribus eos,
        reiciendis rerum numquam culpa ipsa quaerat provident nihil, reprehenderit
        hic obcaecati asperiores sunt illum, atque officiis dicta ipsam ratione
        necessitatibus. Assumenda in omnis, voluptates deserunt nemo mollitia
        facere ad qui aperiam ullam unde nisi nobis sint a tempore recusandae quo
      </p>
    </div>
  </section>
</article>
