<article class="bg-purple">
  <section class="p-3 contentContainer">
    <div class="mb-4">
      <h1 class="text-white">{{portfolioData.title}}</h1>
      <p class="mb-0 text-white p-1">
        Portfolio for showcasing my different projects
      </p>
      <p class="mb-3 text-white p-1">Date: 9.10.2022</p>
      <button class="my-2 visitWebsiteButton mb-4">
        Visit The Website
      </button>
      <figure class="mb-0" id="imageContainer">
        <img
          src="../../../../assets/images/default-placeholder.png"
          alt="Project image"
        />
      </figure>
    </div>
    <div class="bg-light-purple p-3 my-5" id="descriptionArea">
      <ul class="d-flex mb-0">
        <li class="mx-1 p-2 text-white descriptionAreaTabs" [ngClass]="activeContentArea == 'About' ? 'bg-selected': 'bg-light-purple'" (click)="changeSelectedContentArea('About')">
          About
        </li>
        <li class="mx-1 p-2 text-white descriptionAreaTabs" [ngClass]="activeContentArea == 'Technologies' ? 'bg-selected': 'bg-light-purple'" (click)="changeSelectedContentArea('Technologies')">
          Technologies
        </li>
      </ul>
      <div id="descriptionAreaBox">
        <div class="descriptionAreaContent" [ngClass]="activeContentArea == 'About' ? 'selectedContent': selectedContentArea[0].appearanceDirection ">
          <p class="text-white mb-1">Description</p>
          <p class="text-white ms-2">
            {{portfolioData.description}}
          </p>
        </div>
        <div class="descriptionAreaContent" [ngClass]="activeContentArea == 'Technologies' ? 'selectedContent': selectedContentArea[1].appearanceDirection ">
          <p class="text-white mb-1">Technologies:</p>
          <ul class="d-flex">
            <li class="imagePreview">
              <figure class="mb-0" id="imageContainer">
                <img
                  src="../../../../assets/images/default-placeholder.png"
                  alt="Project image"
                />
              </figure>
            </li>
            <li class="imagePreview">
              <figure class="mb-0" id="imageContainer">
                <img
                  src="../../../../assets/images/default-placeholder.png"
                  alt="Project image"
                />
              </figure>
            </li>
            <li class="imagePreview">
              <figure class="mb-0" id="imageContainer">
                <img
                  src="../../../../assets/images/default-placeholder.png"
                  alt="Project image"
                />
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>
