img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.imagePreview {
  max-width: 70px;
  padding: 10px;
  padding-left: 0px;
}
.icon {
  max-width: 4em;
  min-width: 4em;
}
#imageContainer {
  max-height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: white;
}
.visitWebsiteButton {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px 0px black;
  background-color: rgb(0, 187, 255);
  transition: 0.2s ease;
  color: white;
  font-weight: 600;
}
button.visitWebsiteButton:hover {
  background-color: rgb(4, 160, 216);
  color: rgb(255, 204, 0);
}
#descriptionArea {
  border-radius: 20px;
}
.descriptionAreaTabs {
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.2s ease;
}
.descriptionAreaTabs:hover {
  cursor: pointer;
  background-color: rgb(146, 83, 255);
}
#descriptionAreaBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 50vh;
}
.descriptionAreaContent {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  transition: 0.5s ease;
}
.selectedContent {
  transform: translate(0%);
}
.rightNotSelectedContent {
  transform: translate(100%);
}
.leftNotSelectedContent {
  transform: translate(-100%);
}
