img {
  max-width: 100%;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.imagePreview {
  max-width: 100px;
  min-width: 100px;
  padding: 10px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  max-width: 4em;
  min-width: 4em;
}
#bigImageContainer {
  max-height: 500px;
  justify-content: center;
  align-items: baseline;
  display: flex;
  overflow: hidden;
}
.visitWebsiteButton {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px black;
  background-color: var(--main-yellow);
  transition: 0.2s ease;
  color: white;
  font-weight: 600;
  display: block;
  max-width: fit-content;
}
.visitWebsiteButton:hover {
  background-color: var(--main-yellow-dark);
}
#descriptionArea {
  border-radius: 20px;
  box-shadow: 0px 0px 1px 1px var(--main-yellow);

}
.descriptionAreaTabs {
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.2s ease;
}
.descriptionAreaTabs:hover {
  cursor: pointer;
  background-color: var(--main-yellow-dark);
}
#descriptionAreaBox {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  min-height: 50vh;
}
.descriptionAreaContent {
  min-width: 100%;
  overflow: hidden;
  transition: 0.5s ease;
}
.leftSelectedContent {
  transform: translate(50%);
}
.rightSelectedContent {
  transform: translate(-50%);
}
.rightNotSelectedContent {
  transform: translate(50%);
}
.leftNotSelectedContent {
  transform: translate(-50%);
}
.technologyLogos {
  max-width: 100%;
}
.logoContainer {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 0.2s ease;
}
.logoContainer:hover {
  background-color: white;
}
#technologyWrapper {
  justify-content: start;
}
@media only screen and (max-width:700px) {
  #technologyWrapper {
    justify-content: center;
  }
}
