@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/* You can add global styles to this file, and also import other style files */
ul {
  list-style: none;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
}
.mat-tooltip {
  background-color: rgb(0, 162, 255);
  position: relative !important;
  margin: -10px 10px !important;
  padding: 5px 10px !important;
}
.contentContainer {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
}
.primary-bg {
  background-color: rgb(127, 72, 255);
}
.bg-purple {
  background-color: rgb(104, 0, 215);
}
.bg-blue {
  background-color: rgb(92, 102, 255);
}
.bg-selected {
  background-color: rgb(146, 83, 255);
}
.bg-light-purple {
  background-color: rgb(127, 16, 255);
}
.font-0_7rem {
  font-size: 0.7rem;
}
.font-0_8rem {
  font-size: 0.8rem;
}
.font-1rem {
  font-size: 1rem;
}
.font-1_2rem {
  font-size: 1.2rem;
}
.font-1_5rem {
  font-size: 1.5rem;
}
