@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: rgb(79, 77, 126);
  --main-color-dark: rgb(63, 61, 121);
  --main-white: white;
  --main-dark: rgb(98, 100, 138);
  --main-light: rgb(98, 104, 174);
  --main-dark-dark: rgb(63, 64, 100);
  --main-yellow: rgb(231, 164, 50);
  --main-yellow-dark: rgb(213, 146, 29);
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
}
.mat-tooltip {
  background-color: var(--main-yellow);
  position: relative !important;
  margin: -10px 10px !important;
  padding: 5px 10px !important;
  font-size: 0.8rem;
}
.contentContainer {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
}
.primary-bg {
  background-color: var(--main-color);
}
.bg-purple {
  background-color: var(--main-dark);
}
.bg-yellow {
  background-color: var(--main-yellow);
}
.bg-selected {
  background-color: var(--main-yellow);
}
.bg-light-purple {
  background-color: var(--main-light);
}
.font-0_7rem {
  font-size: 0.7rem;
}
.font-0_8rem {
  font-size: 0.8rem;
}
.font-1rem {
  font-size: 1rem;
}
.font-1_2rem {
  font-size: 1.2rem;
}
.font-1_5rem {
  font-size: 1.5rem;
}
