<section id="AboutMe" class="bg-purple">
  <div class="py-5">
    <div class="contentContainer row">
      <div class="col-md-6 d-flex flex-column justify-content-center mb-4">
        <h2 class="d-block text-white">About Me</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, iusto
          sequi. Porro exercitationem dolorem nisi impedit tempore quod,
          repellendus esse, praesentium consequuntur accusantium ipsa quo quia
          enim adipisci? Sit dicta tenetur saepe vero necessitatibus nesciunt
          alias magnam nemo eius nam earum quod, velit ut voluptate. Dolor
          tempore quasi eaque praesentium?
        </p>
      </div>
      <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <figure class="myPicture">
          <img
            src="../../../../assets/images/default-placeholder.png"
            alt="idk"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<section id="skills" class="bg-blue">
  <div class="contentContainer">
    <div class="row py-5">
      <div class="col-md-6 d-flex flex-column justify-content-center mb-4">
        <h2 class="d-block text-white">My Skills</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, iusto
          sequi. Porro exercitationem dolorem nisi impedit tempore quod,
          repellendus esse, praesentium consequuntur accusantium ipsa quo quia
          enim adipisci? Sit dicta tenetur saepe vero necessitatibus nesciunt
          alias magnam nemo eius nam earum quod, velit ut voluptate. Dolor
          tempore quasi eaque praesentium?
        </p>
      </div>
      <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <ul class="row">
          <li class="col-6">
            <figure>
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt="idk"
              />
            </figure>
          </li>

          <li class="col-6">
            <figure>
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt="idk"
              />
            </figure>
          </li>
          <li class="col-6">
            <figure>
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt="idk"
              />
            </figure>
          </li>

          <li class="col-6">
            <figure>
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt="idk"
              />
            </figure>
          </li>
          <li class="col-6">
            <figure>
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt="idk"
              />
            </figure>
          </li>

          <li class="col-6">
            <figure>
              <img
                src="../../../../assets/images/default-placeholder.png"
                alt="idk"
              />
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
