<section id="AboutMe" class="bg-purple px-3 py-3">
  <div class="py-5">
    <div class="contentContainer row">
      <div class="col-md-6 d-flex flex-column justify-content-center mb-4">
        <h2 class="d-block text-white">About Me</h2>
        <p class="text-white">
          I’m a Student studying at Laurea: University of sciences. I am
          currently located in Finand and I have a serious passion for learning
          more about UI effects, animations, and creating intuitive, dynamic
          user experiences.
        </p>
      </div>
      <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <figure class="myPicture">
          <img src="assets/images/other/me.jpeg" alt="idk" />
        </figure>
      </div>
    </div>
  </div>
</section>
<section id="skills" class="bg-blue px-3">
  <div class="contentContainer">
    <div class="row py-5">
      <div class="col-md-6 d-flex flex-column justify-content-center mb-4">
        <h2 class="d-block text-white">My Skills</h2>
        <p class="text-white">
          My current tech skills include Angular, Typescript, HTML, CSS, Git,
          SQL, and Bootstrap. But i am always ready to learn more in order to
          improve myself. Currently i am studying Python on my free time, but i
          have been thinking about learning React next.
        </p>
      </div>
      <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <ul class="row">
          <li class="col-6">
            <figure class="skillLogo">
              <img
                src="assets/images/logos/Angular_full_color_logo.svg"
                alt="Angular logo"
              />
            </figure>
          </li>

          <li class="col-6">
            <figure class="skillLogo">
              <img
                src="assets/images/logos/HTML5_logo_and_wordmark.svg"
                alt="HTML"
              />
            </figure>
          </li>
          <li class="col-6">
            <figure class="skillLogo">
              <img src="assets/images/logos/CSS3_logo.svg" alt="CSS" />
            </figure>
          </li>
          <li class="col-6">
            <figure class="skillLogo">
              <img
                src="assets/images/logos/Octicons-mark-github.svg"
                alt="Github"
              />
            </figure>
          </li>
          <li class="col-6">
            <figure class="skillLogo">
              <img
                src="assets/images/logos/Unofficial_JavaScript_logo_2.svg"
                alt="Javascript"
              />
            </figure>
          </li>
          <li class="col-6">
            <figure class="skillLogo">
              <img
                src="assets/images/logos/Bootstrap_logo.svg"
                alt="Bootstrap"
              />
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
