#AboutMe {
  overflow: hidden;
  padding: 0px;
  min-height: 33vh;
}
#skills {
  min-height: 33vh;
}
p {
  font-size: 1.2rem;
}
figure.myPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  max-height: 550px;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  max-height: 100px;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0px;
}
.learnMoreButton {
  max-width: fit-content;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s ease;
  background-color: rgb(0, 187, 255);;
}
.learnMoreButton:hover {
  background-color: rgb(4, 160, 216);;
}
